body {
	position:relative;
	margin:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-size:1.2rem;
}
img {
	border:none;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('/style/fonts/fontawesome-webfont.eot?v=4.6.3');
	src: url('/style/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('/style/fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('/style/fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('/style/fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('/style/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.header {
	background-color:rgb(29, 199, 226);
	padding:12px 0;
}
.col25 {
	width:25%;
}
.col75 {
	width:75%;
}
.header-wrapper {
	overflow:hidden;
	height:auto;
	width:80%;
	margin:0 auto;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.white {
	color:white;
}
#logodesc-1 {
	display:block;
	margin-top:0.25em;
	font:bold 30px "Lucida Grande",Lucida Sans Unicode,Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
	-webkit-font-smoothing: antialiased;
}
#logodesc-2 {
	display:block;
	font:bold 20px "Lucida Grande",Lucida Sans Unicode,Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
	-webkit-font-smoothing: antialiased;
}
#email {
	font:normal 13px "Lucida Grande",Lucida Sans Unicode,Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
	margin-right:1em;
	margin-top:31px;
}
.search {
	width: 222px;
    height: 34px;
    border: 1px solid #7a7876;
	border-radius:5px;
	margin-top:23px;
}
.search-text {
	width: 180px;
    height: 32px;
    background: none;
    border: none;
    padding-left: 10px;
}
.search-submit {
    border: none;
    cursor: pointer;
	display:block;
	margin:5px;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-interval {
	margin-right:0.5em;
}
.fa-search:before {
	content: "\f002";
	font-size:22px;
}
.fa-email:before {
	content: "\f0e0";
}
.fa-home:before {
	content: "\f015";
}
.fa-products:before {
	content: "\f02d";	
}
.fa-info:before {
	content: "\f05a";
}
.fa-phone:before {
	content: "\f095";
}
.fa-user:before {
	content: "\f007";
}

.clear-a {
	text-decoration: none;
    cursor: default;
	color:inherit;
}
.menucolor{
	background:#05e8f3;
}
.menubar {
	list-style-type: none;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.5em 0;
}
.menuitem {
	width:20%;
	text-align:center;
}
.banner {
	width:100%;
	overflow:hidden;
	position:relative;
}
.banner-img {
	position:relative;
	list-style-type:none;
	margin:0;
	padding:0;
	width:400%;
	overflow:hidden;
	left:0;
}
.banner-img > li {
	padding:0;
	margin:0;
	line-height:0;
}
.imgwapper {
	width:100%;
	height:auto;
}
.banner-nav {
	position:absolute;
	bottom:10%;
	left:0;
	right:0;
	margin:auto;
	list-style-type:none;
	text-align:center;
}
.banner-nav > li {
	display:inline;
	margin:0 10px;
}
.banner li a {
	width:60px;
	height:5px;
	background-color:#eeefff;
	margin:0;
	display:inline-block;
}
.products {
	background-color:#05e8f3;
	padding-top:0.7em;
}
.products > h1 {
	font-size:30px;
	color:white;
	text-align:center;
	margin-top:0;
}
